.nav-bar {
<<<<<<< HEAD
=======
    margin-bottom: 2px;
>>>>>>> bdfb609cc4ad6053a25c77e546c3884553e7295f
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(37, 32, 64, 255);
    color: #7859d6;
    display: flex;
    height: 50px;
  }
  .logo {
    width: 20%;
    color: white;
  }
  .shop,
  .settings,
  .support {
    width: 15%;
    display: flex;
    align-items: center;
  }
  .search-container {
    width: 45%;
    padding: 10px;
  }
  .search-div {
    width: 30%;
    height: 25px;
  }