.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px; /* Default height for larger screens */

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    height: 300px; /* Adjusted height for smaller screens */
    /* width: fit-content; */
  }
}
body {
    overflow-x: hidden;
  }  