.card {
    margin-top: 10px;
    border: 2px solid black;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 20px 0 15px;
  }
  
  .card h2 {
    margin-top: 10px;
  }
  
  .card-image {
    height: 300px;
    background-size: cover;
  }
  
  /* Media Queries */
  /* Mobile Styles */
  @media (max-width: 600px) {
    .product-section {
      flex-direction: column;
    }
  
    .card {
      width: 90%;
    }
  }
  
  /* Tablet Styles */
  @media (min-width: 601px) and (max-width: 1024px) {
    .product-section {
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }
  
  /* Desktop Styles */
  @media (min-width: 1025px) {
    .product-section {
      flex-wrap: wrap;
    }
  
    .card {
      width: calc(33.33% - 20px);
      margin: 10px;
    }
  }